p
    {
    width:1366px;
     text-align: center;
     font-family: Pristina;
    color: #e60073;
    font-size: 50px;
    margin-top:10px;
    margin-bottom: -30px;
    }
.grid_4 img
    {
      width:250px;
      height: 370px;
    }
img:hover
    {
        width: 400px;
        height:592px;
        transform:scale(1.1);
        z-index:10;
        position: absolute;
    }
.grid_4
    {
        margin-top: 50px;

    }
