h1 {
  width:1366px;
 text-align: center;
 font-family: Pristina;
color: #e60073;
background-color: #0C0C0C;
}
body{
  background-color: #0C0C0C;
}
.grid_4 img
{
  width:250px;
  height: 370px;

  }
  img:hover
  {

    width: 400px;
    height:592px;

    transform:scale(1.1);

  }
  .grid_4{
    margin-top: 50px;
    overflow: inherit;
  }
